[run]
source =
    pyfarm.agent

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    *pyfarm*__init__*
    *pyfarm*testutil.py*
    *pyfarm/agent/http/templates/*
    *pyfarm/agent/http/static/*
    *pyfarm/agent/logger/*
