#box-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #fff;
}

#box-table th {
    font-size: 13px;
    font-weight: bolder;
    padding: 8px;
    background: #8b8b8b;
    border-bottom: 1px solid #fff;
    color: #000000;
}

#box-table td {
    padding: 8px;
    background: #c0c0c0;
    border-bottom: 1px solid #fff;
    color: #000000;
}

#box-table tr:hover td {
    background: #ebebeb;
    color: #000000;
}